{% load forum_tags %}

<div class="row">
	<div class="columns small-6 medium-3 ">
		{% if post.likes %}
			<div style="min-width:1px;height:1px;float:right;">
				<div class="note out-shadow">
					{{ post.likes }}
				</div>
			</div>
		{% endif %}
		<div class="shadowbox bulb">
			<a href="{% url 'forum:like_post' pk=post.post_id %}">
				<img src="/static/images/bulb.png" style="max-width:100%;max-height:100%;">
			</a>
		</div>
	</div>
	<div class="columns small-12 medium-9">
		<br>
		<a href="{% if posts %}{% url 'forum:post_detail' pk=post.post_id %}{% else %}{% url 'forum:home' %}{% endif %}">
			<div class="post_title"> <!-- style="background-color:#6699FF" -->
				{{ post.title }}
			</div>
		</a>
	</div>
	<div style="font-size:18px;float:right;padding-right:15px;">
		<h6>
		Author: <a href="{% url 'forum:sort_user' sort=post.author %}">{{ post.author }}</a>
		</h6>
	</div>
</div>
	<h6 style='font-size:13px;float:right;'>
		{{ post.time|date_unix }}
		</h6>
	<p style="color:#91F855;float:left;padding-left:20px;">
	{% if post.post_id in user.username|banks %}You've banked this idea! <a href="{% url 'forum:unlike_post' pk=post.post_id %}" style="">unbank?</a>{% endif %}
	</p>
<hr>