{% for post in posts %}
	<div class="row " >
		<div class="columns small-12 container">
			<a name="{{ post.post_id }}"></a>
			<div class="row ">
				<br>
				<div class="columns small-12">
					{% if post.top_post %}
						<div class="" style="float:right;">
							<img src="/static/images/star.gif" style="max-width:60px;max-height:60px;border-radius:40px;border-bottom-left-radius:10px;">
						</div>
					{% endif %}
					<div class="forum_post out-shadow">
						{% include 'forum/post_top.html' %}
						<div class="post_body ">
							{{ post.body|urlize|safe|linebreaks|slice:':300' }}<a href="{% url 'forum:post_detail' pk=post.post_id %}">&hellip;  See more</a>
						</div>
						<br>
						<div class="row">
							<div class="columns small-2"style="color:#91F855;">
								{% if post.likes %}x{{ post.likes }} bank{{ post.likes|pluralize:"s" }}{% endif %}
							</div>
							<div class="columns small-10 small-centered ">
								<a href="{% url 'forum:post_detail' pk=post.post_id %}" id = "new_entry" style="float:right;" class="button shadowbox out-shadow">Comment</a>
							</div>
						</div>
						{% if post.comments %}
							<h4>
							Comments
							</h4>
							{% if post.comments|length > 2 %}
								<a href="{% url 'forum:post_detail' pk=post.post_id %}">View all {{ post.comments|length }} comment{{ post.comments|length|pluralize:"s" }}&hellip; </a>
							{% endif %}
							<hr>
							{% for comment in post.comments %}
								{% if forloop.counter > post.comments|length|add:'-2' %}
									{% include 'forum/comment_detail.html' %}
								{% endif %}
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<br>
			</div>
			<br>
		</div>
	</div>
	<br>
{% endfor %}