<div class="hub_container out-shadow" style="max-width:400px;">
  <h1>AppSoc Hub</h1>
  <p >An independent mobile development society @ Imperial College London.</p>

  <p class="view"><a href="https://github.com/ICAppSoc">View Our GitHub Profile</a></p>
  <p class="view"><a href="https://www.facebook.com/pages/Imperial-App-Society/806202166060401">Visit Our Facebook Page</a></p>
  <p class="view"><a href="https://www.facebook.com/groups/197108390473166/">Join Our Facebook Group</a></p>
  <p class="view">
  <a href="#" data-dropdown="hover1" data-options="is_hover:true">Sessions</a>
  <ul id="hover1" class="f-dropdown" data-dropdown-content>
    <li><a href="#ios-session-one">iOS Session One</a></li>
    <li><a href="#android-session-one">Android Session One</a></li>
  </ul>
  </p>
</div>