<div class="out-shadow hub_container">
  <h3>
    <span class="octicon octicon-link">
    
    </span>
  </a>
  iOS Session One
  </h3>
  <h3>
  App Lifecycle
  </h3>
  <p>
  You can download the slides over
  <a href="https://drive.google.com/file/d/0B6t3krHJdAvlRktwMDVCOVUyc00/view?usp=sharing" target="_blank">
    here
  </a>.
  <br><br>
  Be sure to have a generic understanding of what's actually going on when we start and use an app. The key concepts to take with you from this part of the session are:
  </p>
  <ul>
    <li>The idea behind the UIApplication object</li>
    <li>The use of the AppDelegate</li>
    <li>The purpose of UIViewController (we will cover much more about it later on)</li>
    <li>Methods to execute code when our app transitions between execution states</li>
  </ul>
  We will cover the super-duper-really-important Delegate pattern and UITableView in the next iOS session! Be sure to practice and come along.
  <p></p>
  <h3>
  Star Wars Quotes project
  </h3>
  <p>
  <a href="https://github.com/ICAppSoc/Star-Wars-Quotes-iOS">
    Find here and select Download ZIP to the right of the page.
  </a>
  Unzip, then open the project file with the blue icon (<code>.xcodeproj</code>)
  </p>
</div>