{% extends 'appsoc/base.html' %}
{% block title %}Events-{% endblock %}
{% block body_block %}
	<head>
		<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		</head>
		<div class="appsoc_trans_view">
			<div class="row">
				<div class="columns small-12 medium-7 large-5 small-centered">
					<h1 style="color:white;font-family:'Lato';text-align:center">
					Android Boot Camp
					<p>
					<font color="#008cba">Mondays, LT1, Blackett/Physics </font> 6PM
					</p>
					</h1>
					<div class="appsoc_container">
						{% if message %}
							<font color="#008cba">{{ message }}</font>
						{% endif %}
						<h6 style="text-align:left;color:white;font-size:18px;font-weight:lighter;font-family:'Lato'">
						Your email
						</h6>
						<form id="email_form" action="{% url 'abc' %}" method="post">
							{% csrf_token %}
							<p>
							{{ register_form.email }}
							</p>
							<button type="submit" class="button email_form_button" style="font-family:'Lato';font-weight:lighter;font-size:18px;">
							Let us know you're coming
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row events_heading">
			<div class="columns small-12 medium-12 large-6 small-centered medium-uncentered" >
				<div style="color:#cfcfcf;padding:30px;">
					<h1 style='font-size:60px;color:white;font-weight:lighter;'>
					7 week programme
					</h1>
					<br>
					<p>
					Develop the skills to build an Android app from developers with 4+ years of experience
					</p>
					<p>
					Get access to tonnes of online android developer content for FREE
					</p>
					<p>
					Get the chance to gain a Google certificate on completing the course!
					</p>
				</div>
			</div>
			<div class="columns small-12 medium-4 small-centered medium-uncentered" >
				<div style="color:#cfcfcf;padding-top:30px;">
					<img src="/static/images/GSAIcon.png" alt="">
				</div>
			</div>
			<div class="columns small-12 small-centered medium-uncentered">
				<h6 style="float:right;color:white;color:#008cba;font-weight:lighter;">
				Powered by AppSoc & Google Student Ambassador programme
				</h6>
			</div>
		</div>
		<div class="transparent_section" >
			<div class="row">
				<br>
				<br>
				<div class="columns small-12 medium-4 medium-offset-2 large-3 large-offset-3 small-centered medium-uncentered">
					<br>
					<br>
					<div class="appsoc_container" style="height:220px;">
						<div>
							<br>
							<h6 style="color:white;font-weight:lighter;font-size:20px;">
							Are you subscribed to our mailing list?
							</h6>
							<br>
							<form method="get" action="{% url 'register' %}">
								<button class="button" type="submit">
								Add me!
								</button>
							</form>
						</div>
					</div>
					<br>
				</div>
				<div class="columns small-12 medium-4 large-3 left small-centered medium-uncentered">
					<br>
					<br>
					<div class="appsoc_container" style="height:220px;">
						<div>
							<br>
							<h6 style="color:white;font-weight:lighter;font-size:20px;">
							Want to know more about this event?
							</h6>
							<br>
							<form method="get" action="https://www.facebook.com/events/1539387879660472/?context=create&previousaction=create&source=49&sid_create=2224606954">
								<button class="button" type="submit">
								Go to page
								</button>
							</form>
						</div>
					</div>
					<br>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>
		<script src="/static/js/appsoc.js"></script>
		<script>
				$.validate({
					focusInvalid: false,
				});
		</script>
	{% endblock %}