{% load staticfiles %}
<html class="no-js" lang="en" >
    <head>
        <title>{% block title %}{% endblock %}AppSoc</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/foundation.css">
        <link rel="icon" type="image/ico" href="/static/images/favicon.png"></link>
        <link rel="shortcut icon" href="/static/images\favicon.png">
        <link rel="stylesheet" href="/static/css/appsoc.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="/static/js/vendor/modernizr.js"></script>

        <style>
        .heading{
        background-color:{{ color|default:'#A60000'}};
        }
        </style>
    </head>
    <body class={%if events_abc %}"events_abc"{% elif events_ios %}"events_ios"{% else %}"normal_body"{% endif %}>
        
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>

        <div class="fixed" style="background-color:black;">
            <nav class="top-bar "  style="background-color:black;" data-topbar role="navigation">
                <ul class="title-area">
                    <li class="name ">
                        <h1><a href="{% url 'index' %}">AppSoc</a></h1>
                    </li>
                    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                </ul>
                <section class="top-bar-section">
                    <ul class="right" >
                        <li><a href="{% url 'index' %}" style="background-color:black;" >Home</a></li>
                        <li><a href="{% url 'learn' %}" style="background-color:black;" >Learn</a></li>
                        <li><a href="{% url 'github' %}" style="background-color:black;" >Hub</a></li>
                        <li><a href="{% url 'abc' %}" style="background-color:black;" >ABC</a></li>
                        <li><a href="{% url 'ios' %}" style="background-color:black;" >iOS</a></li>
                        <li><a href="{% url 'register' %}" style="border-radius:3px;background-color:#2980F0;">Sign Up</a></li>
                        <li>
                        </li>
                        <li class="has-dropdown" >
                            <a href="#" style="background-color:black;">About Us</a>

                            <ul class="dropdown" style="background-color:black;">
                                <li><a href="{% url 'about' %}" style="background-color:black;">Who we are</a></li>
                                <li><a href="{% url 'contact' %}" style="background-color:black;">Find/Talk to us</a></li>
                                <li><a href="https://www.facebook.com/groups/197108390473166/" style="background-color:black;">Find us on Facebook</a></li>
                            </ul>
                        </li>
                    </ul>
                </section>
            </nav>
        </div>
        {% block body_block %}{% endblock %}

        
        <div class = "row {% if events_abc %}section3{% elif events_ios %}section4{% else %}section1{% endif %}">
            <div class="columns small-6 small-centered">
                <div class="row" {% if events_abc %}style="color:white;"{% elif events_ios %}style="color:black;"{% endif %}>
                    <br>
                    <br>
                    <div class="columns small-12 medium-6 large-4">
                        <br><br>
                        <ul>
                            <li><strong><a href="{% url 'about' %}">About Us</a></strong> </li>
                            <li><strong><a href="{% url 'contact' %}">Contact Us</a></strong></li>
                            <li><strong><a href="{% url 'register' %}">Sign Up</a></strong></li>
                            <li><strong>
                                <a href="https://docs.google.com/forms/d/1ZYdY25oiyZRsbLuRUYfBYOrmXli956K1ea1jLP2KVng/viewform?usp=send_form#start=openform">Fill attendance form <font style="color:green">(in session)</font></a>
                            </strong></li>
                        </ul>
                    </div>
                    <div class="columns small-12 medium-6 large-4">
                        <br>
                        <br>
                        <ul>
                            <li><strong><a href="https://www.facebook.com/pages/Imperial-App-Society/806202166060401">Find us</a></strong> on Facebook</li>
                            <li><strong><a href="{% url 'learn' %}">Learn </a></strong>to code</li>
                        </ul>
                        <br>
                        <br>
                        <div class="fb-like" data-href="https://www.facebook.com/pages/Imperial-App-Society/806202166060401" data-width="20" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>

                    <div class="columns hide-for-small hide-for-medium large-4 ">
                        <br>
                        <br>
                        Royal School of Mines Building,
                        Imperial College London,
                        Prince Consort Road,
                        South Kensington,
                        London SW7 2BP
                        United Kingdom
                    </div>
                </div>
            </div>
        </div>
        


    <script src="/static/js/foundation.min.js"></script>
    <script>
    $(document).foundation();
    </script>
</body>
</html>