{% extends 'appsoc/base.html' %}
{% block title %}Learn -{% endblock %}
{% block body_block %}
	<div class="row heading" style="height:50%; min-height:400px;">
		<div class="columns small-12 medium-6 large-6" style='padding:0px;'>
			<img src="/static/images/appsoc_image1.jpg" style="height:100%;width:600px;">
		</div>
		<div class=" columns hide-for-small hide-for-medium large-6">
			<h1 style='font-size:80px;color:white;font-weight:lighter;float:right;padding:20px;'>
			Make apps
			</h1>
		</div>
	</div>
	<br>
	<div class="row section1">
		<div class=" columns small-12 medium-6 large-6 " style="padding:50px;">
			<h2>
			What you'll do at meetings
			</h2>
			<p>Learn programming techniques geared at mobile development</p>
			<p>Get started on your first app!</p>
			<p>Come up with exciting ideas and challenge ourselves</p>
			<p>Participate in competitions and win prizes</p>
			<p>Share stories and experiences</p>
			<p>Mingle!</p>
		</div>
		<div class=" columns small-12 medium-6 large-6 " style="padding:50px;">
			<h2>
			What we'll teach you
			</h2>
			<p>Both Android and Objective-C programming languages</p>
			<p>Best programming practices in mobile development</p>
			<p>We also give free consultation!</p>
		</div>
	</div>
	<br>
	<div class = "row section2">
		<div class=" columns small-12 medium-12 large-7 small-centered" style="padding:50px;">
			<h2>
			Some of our previous lessons
			</h2>
			<br>
			<br>
			<div class="row" style="padding:50px;background-color:#efefef;border-radius:50px;">
				
				<div class="columns small-12 medium-4 large-4">
					<img src="/static/images/sensors.jpg" >
					<br>
					<h4>
					Sensors In Action
					</h4>
					<br>
					<br>
				</div>
				
				<div class="columns small-12 medium-4 large-4">
					<img src="/static/images/customviews.jpg" >
					<br>
					<h4>
					Custom Views
					</h4>
					<br>
					<br>
				</div>
				<div class="columns small-12 medium-4 large-4">
					<img src="/static/images/converter.jpg" >
					<br>
					<h4>
					Currency Converter
					</h4>
					<br>
					<br>
				</div>
			</div>
		</div>
	</div>
	<br>
{% endblock %}