{% extends 'appsoc/base.html' %}
{% block title %}About Us-{% endblock %}
{% block body_block %}
	<div class="row heading">
		<div class="columns small-12 medium-6 large-6" style='padding:0px;'>
			<img src="/static/images/QT1.jpg" style="height:100%;width:600px;">
		</div>
		<div class=" columns show-for-large large-6">
			<h1 style='font-size:80px;color:white;font-weight:lighter;float:right;padding:20px;'>
			Our Story
			</h1>
		</div>
	</div>
	<br>
	<div class="row section1">
		<div class=" columns small-12 medium-12 large-10 small-centered" style="padding:80px;">
			<h3>
			"To give other students the tools to make a positive impact on the world of technology
			... And to have fun while doing it!"
			</h3>
		</div>
		<div class="columns small-12 medium-10 large-8 small-centered">
			<div class="columns small-12 medium-6 large-6 ">
				<h4>
				About AppSoc
				</h4>
				AppSoc is a community of creative thinkers who want to share their ideas with the world. You don't even need to know any programming to join, we'll teach it to you. We have members of various strengths and abilities because AppSoc was founded to bring together the various disciplines of Imperial College to think as one. Two heads are better than one, especially when you're trying to solve the world's problems using mobile applications! No pressure...
			</div>
			<div class="columns small-12 medium-6 large-6 ">
				<h4>
				Our Motivation
				</h4>
				<p>
				What better way is there to change the world than to change the minds in it?
				We are joining the movement to rethink education from the inside out. We want to prove to you that you don't need a Computer Science degree to code. We know that there are so many students just sitting on amazing ideas that they can't build. We're here to teach them how. And besides... Apps are fun
				</p>
			</div>
		</div>
	</div>
	<br>
	<br>
	<div class = "row section2">
		<div class=" columns small-12 small-centered" style="padding:30px;">
			<h4>
			The AppSoc Team
			</h4>
			<br>
			<div class="row">
				<div class="columns small-12 medium-12 large-6" style="padding-right:30px;">
					<div class="row team-pic">
						<div class="columns small-6 medium-3">
							<img src="/static/images/AppTeam/david.png" style="border-radius:50%;">
						</div>
						<div class="columns small-12 medium-9">
							<h4>
							David A. Pollak
							</h4>
							<p class='team-pic-p'>
							David is a second year computing student with a huge interest for iOS apps since the beginning of the iPhone era. He has been over 8 years of programming experience and app design, and he is still learning more every day. David is an enthusiastic football fan and this often influences his choice of projects.
							</p>
						</div>
					</div>
				</div>
				<div class="columns small-12 medium-12 large-6" style="padding-right:30px;">
					<div class="row team-pic">
						<div class="columns small-6 medium-3">
							<img src="/static/images/AppTeam/zue.png" style="border-radius:50%;">
						</div>
						<div class="columns small-12 medium-9">
							<h4>
							Zue Yi Leong
							</h4>
							<p class='team-pic-p'>
							Zue is a final year Biomedical Engineering student. Her interest in finance, technology, and research have taken her to several firms including Deloitte and Citigroup. Now, Zue's interest in technology and her fine organisational skills have led her to the App Society for her next technological challenge
							</p>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="columns small-12 medium-12 large-6" style="padding-right:30px;">
					<div class="row team-pic">
						<div class="columns small-6 medium-3">
							<img src="/static/images/AppTeam/justas.jpeg" style="border-radius:50%;">
						</div>
						<div class="columns small-12 medium-9">
							<h4>
							Justas Medeisis
							</h4>
							<p class='team-pic-p'>
							Justas has been developing Android apps for over 2 years. He has had the opportunity to build a variety of mobile experiences, from small games and study aids to programs that interface with connected peripherals. He has taught programming concepts both to children and to adults. His goal is to pass on some of this knowledge and encourage the creation of useful, beautiful and fun mobile apps at Imperial.
							</p>
						</div>
					</div>
				</div>
				<div class="columns small-12 medium-12 large-6" style="padding-right:30px;">
					<div class="row team-pic">
						<div class="columns small-6 medium-3">
							<img src="/static/images/AppTeam/matt.jpg" style="border-radius:50%;">
						</div>
						<div class="columns small-12 medium-9">
							<h4>
							Matthew Murchie
							</h4>
							<p class='team-pic-p'>
							Matthew is a 4th year Bioengineer with a particular passion for all things quirky - brain teasers, card tricks, Parkour and lecture-time doodling. Matthew's dream is to make a significant impact on the world by inventing something useful and unusual. He joined the App Society to start this process.
							</p>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="columns small-12 medium-12 large-6" style="padding-right:30px;">
					<div class="row team-pic">
						<div class="columns small-6 medium-3">
							<img src="/static/images/AppTeam/nic.jpg" style="border-radius:50%;">
						</div>
						<div class="columns small-12 medium-9">
							<h4>
							Niccolo Pignatelli
							</h4>
							<p class='team-pic-p'>
							Initiator and Co-founder of the App Society. Niccolò is a final year Bioengineering student at IC. He has developed an app that actively controls a post-stroke hand rehabilitation device via bluetooth. After starting the App society Niccolò started managing Android development at Neuro Recovery Ltd. a start-up that develops medical information mobile applications.
							</p>
						</div>
					</div>
				</div>
				<div class="columns small-12 medium-12 large-6" style="padding-right:30px;">
					<div class="row team-pic">
						<div class="columns small-6 medium-3">
							<img src="/static/images/AppTeam/blaise.jpg" style="border-radius:50%;">
						</div>
						<div class="columns small-12 medium-9">
							<h4>
							Blaise
							</h4>
							<p class='team-pic-p'>
							Blaise is a final year student at Imperial College. He recently developed an application, called Breed Master, as a way to improve the job of veterinarians. Blaise hopes to grow on his love for improving lives and passing on knowledge, while at AppSoc.
							</p>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="columns small-12 medium-12 large-6" style="padding-right:30px;">
					<div class="row team-pic">
						<div class="columns small-6 medium-3">
							<img src="/static/images/AppTeam/bo.png" style="border-radius:50%;">
						</div>
						<div class="columns small-12 medium-9">
							<h4>
							Foluso Ogunlana, (Bo)
							</h4>
							<p class='team-pic-p'>
							Co-founder of AppSoc at Imperial College London. Bo is a fun-loving passionate programmer, experienced in website and applications design. Bo has done work in the fields of video processing, website design, server programming, and iOS applications. He hopes to use these experiences make a positive impact at Imperial College and wherever else his passions lead him.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}