{% extends 'appsoc/base.html' %}
{% block body_block %}
  <link rel="stylesheet" href="/static/css/justas_styles.css">
  <div style="" id="hub" >
    <div class="row"style="opacity:0.9;">
      <br>
      <div class="columns hide-for-small medium-5 " style="position:fixed;" >
        {% include 'appsoc/blocks/hub_header.html'%}
      </div>
      <div class="columns small-12 medium-7">
        <div class="row">
          <div class="columns show-for-small ">
            {% include 'appsoc/blocks/hub_header.html'%}
            <hr>
          </div>
        </div>
        <section class="bullets">
          {% include 'appsoc/blocks/ios_session_one.html' %}
          <br>
          <hr>
          {% include 'appsoc/blocks/android_session_one.html' %}
          <hr>
        </section>
      </div>
    </div>
  </div>
{% endblock %}