<div style="position:fixed;max-width:300px;min-width:200px;">
	<div class="row " >
		<div class="columns small-12 container" >
			<br>
			<div class=" dashboard out-shadow">
				<a href="{% url 'forum:sort_posts' sort='time' %}">Most recent ideas</a>
			</div>
			<br>
			<div class="dashboard out-shadow ">
				{% for post in posts %}
					{% if forloop.counter <= 3 %}
						<li style="list-style-type:none;">
							{{ post.author }} : <a href="{% url 'forum:post_detail' pk=post.post_id %}">{{ post.title }}</a>
							<font color="color:#91F855;">{% if post.likes %}x{{ post.likes }}{% else %}x0{% endif %}</font>
						</li>
					{% endif %}
				{% endfor %}
			</div>
			<br>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="columns small-12 container" >
			<br>
			<div class="dashboard out-shadow">
				<a href="{% url 'forum:sort_posts' sort='likes' %}">Top ideas</a>
			</div>
			<br>
			<div class="dashboard out-shadow ">
				{% for post in posts %}
					{% if forloop.counter <= 3 %}
						<li style="list-style-type:none;">
							{{ post.author }} : <a href="{% url 'forum:post_detail' pk=post.post_id %}">{{ post.title }}</a>
							<font color="color:#91F855;">{% if post.likes %}x{{ post.likes }}{% else %}x0{% endif %}</font>
						</li>
					{% endif %}
				{% endfor %}
			</div>
			<br>
		</div>
		<br>
	</div>
	
</div>